In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Customer Call List.xlsx')

In [3]:
df= df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
df = df.drop(columns='Not_Useful_Column')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [5]:
df['Last_Name']=df['Last_Name'].str.strip('123/._')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [6]:
df["Phone_Number"]=df["Phone_Number"].astype(str).str.replace("[^a-zA-Z0-9]","",regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [7]:
df["Phone_Number"]=df["Phone_Number"].apply(lambda x:f'{x[0:3]}-{x[3:6]}-{x[6:10]}')df

SyntaxError: invalid syntax (2464142248.py, line 1)

In [ ]:
df

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('nan--','')

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('na--','')
df

In [ ]:
df["Phone_Number"]=df["Phone_Number"].str.replace('Na--','')
df

In [21]:
#df[['Street_Address','State','Zip_code']]=df['Address'].str.split(',',n=2,expand=True)
#df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(",", n=2, expand = True)
SplitAddress= df["Address"].str.split(" ", n=2, expand = True)
SplitAddress

       0         1            2
0    123     Shire         Lane
1     93      West  Main Street
2    298     Drugs     Driveway
3    980     Paper       Avenue
4    123   Dragons         Road
5    768      City      Parkway
6   1209     South       Street
7     98      Clue        Drive
8    123    Middle        Earth
9   25th      Main       Street
10   612     Shire         Lane
11  2394  Hogwarts       Avenue
12  2039      Main       Street
13   343      City      Parkway
14   214        HR       Avenue
15  2395  Hogwarts       Avenue
16   121     Paper       Avenue
17  3498     Super         Lane
18   N/a      None         None
19   910  Tatooine         Road

In [22]:
df["Street_Address"] = SplitAddress[0]
df["State"] = SplitAddress[1]
df["Zip_Code"] = SplitAddress[2]

In [23]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,Zip_code,Street_Address,Zip_Code
0,1001,Frodo,Baggins,1235455421,123 Shire Lane,Yes,No,Shire,None,123,Lane
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,West,None,93,Main Street
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,Drugs,None,298,Driveway
3,1004,Dwight,Schrute,1235432345,980 Paper Avenue,Yes,Y,Paper,18503,980,Avenue
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,Dragons,None,123,Road
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,City,None,768,Parkway
6,1007,Jeff,Winger,nan,1209 South Street,No,No,South,None,1209,Street
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,Clue,None,98,Drive
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,Middle,None,123,Earth
9,1010,Peter,Parker,1235455421,25th Main Street,Yes,No,Main,None,25th,Street
10,1011,Samwise,Gamgee,nan,612 Shire Lane,Yes,No,Shire,None,612,Lane
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,Hogwarts,None,2394,Avenue
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,Main,None,2039,Street
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,City,None,343,Parkway
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,HR,None,214,Avenue
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,Hogwarts,None,2395,Avenue
16,1017,Michael,Scott,1236439775,121 Paper Avenue,Yes,No,Paper,None,121,Avenue
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,Super,None,3498,Lane
18,1019,Creed,Braton,Na,N/a,N/a,Yes,None,None,N/a,None
19,1020,Anakin,Skywalker,8766783469,910 Tatooine Road,Yes,N,Tatooine,None,910,Road

In [26]:
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')

In [27]:
df['Paying Customer']=df['Do_Not_Contact'].str.replace('Yes','Y')
df['Paying Customer']=df['Do_Not_Contact'].str.replace('No','N')

In [28]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,Zip_code,Street_Address,Zip_Code
0,1001,Frodo,Baggins,1235455421,123 Shire Lane,N,N,Shire,None,123,Lane
1,1002,Abed,Nadir,1236439775,93 West Main Street,Y,Y,West,None,93,Main Street
2,1003,Walter,White,7066950392,298 Drugs Driveway,NaN,NaN,Drugs,None,298,Driveway
3,1004,Dwight,Schrute,1235432345,980 Paper Avenue,Y,Y,Paper,18503,980,Avenue
4,1005,Jon,Snow,8766783469,123 Dragons Road,N,N,Dragons,None,123,Road
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,City,None,768,Parkway
6,1007,Jeff,Winger,nan,1209 South Street,N,N,South,None,1209,Street
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,Clue,None,98,Drive
8,1009,Gandalf,NaN,Na,123 Middle Earth,NaN,NaN,Middle,None,123,Earth
9,1010,Peter,Parker,1235455421,25th Main Street,N,N,Main,None,25th,Street
10,1011,Samwise,Gamgee,nan,612 Shire Lane,N,N,Shire,None,612,Lane
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,NaN,NaN,Hogwarts,None,2394,Avenue
12,1013,Don,Draper,1235432345,2039 Main Street,N,N,Main,None,2039,Street
13,1014,Leslie,Knope,8766783469,343 City Parkway,N,N,City,None,343,Parkway
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,HR,None,214,Avenue
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,Hogwarts,None,2395,Avenue
16,1017,Michael,Scott,1236439775,121 Paper Avenue,N,N,Paper,None,121,Avenue
17,1018,Clark,Kent,7066950392,3498 Super Lane,NaN,NaN,Super,None,3498,Lane
18,1019,Creed,Braton,Na,N/a,Y,Y,None,None,N/a,None
19,1020,Anakin,Skywalker,8766783469,910 Tatooine Road,N,N,Tatooine,None,910,Road

In [31]:
df.fillna('')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,Zip_code,Street_Address,Zip_Code
0,1001,Frodo,Baggins,1235455421,123 Shire Lane,N,N,Shire,,123,Lane
1,1002,Abed,Nadir,1236439775,93 West Main Street,Y,Y,West,,93,Main Street
2,1003,Walter,White,7066950392,298 Drugs Driveway,,,Drugs,,298,Driveway
3,1004,Dwight,Schrute,1235432345,980 Paper Avenue,Y,Y,Paper,18503,980,Avenue
4,1005,Jon,Snow,8766783469,123 Dragons Road,N,N,Dragons,,123,Road
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,City,,768,Parkway
6,1007,Jeff,Winger,nan,1209 South Street,N,N,South,,1209,Street
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,Clue,,98,Drive
8,1009,Gandalf,,Na,123 Middle Earth,,,Middle,,123,Earth
9,1010,Peter,Parker,1235455421,25th Main Street,N,N,Main,,25th,Street
10,1011,Samwise,Gamgee,nan,612 Shire Lane,N,N,Shire,,612,Lane
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,,,Hogwarts,,2394,Avenue
12,1013,Don,Draper,1235432345,2039 Main Street,N,N,Main,,2039,Street
13,1014,Leslie,Knope,8766783469,343 City Parkway,N,N,City,,343,Parkway
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,HR,,214,Avenue
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,Hogwarts,,2395,Avenue
16,1017,Michael,Scott,1236439775,121 Paper Avenue,N,N,Paper,,121,Avenue
17,1018,Clark,Kent,7066950392,3498 Super Lane,,,Super,,3498,Lane
18,1019,Creed,Braton,Na,N/a,Y,Y,,,N/a,
19,1020,Anakin,Skywalker,8766783469,910 Tatooine Road,N,N,Tatooine,,910,Road

In [38]:
df.dropna(subset=['Phone_Number'], inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,State,Zip_code,Street_Address,Zip_Code
0,1001,Frodo,Baggins,1235455421,123 Shire Lane,N,N,Shire,None,123,Lane
1,1002,Abed,Nadir,1236439775,93 West Main Street,Y,Y,West,None,93,Main Street
2,1003,Walter,White,7066950392,298 Drugs Driveway,NaN,NaN,Drugs,None,298,Driveway
3,1004,Dwight,Schrute,1235432345,980 Paper Avenue,Y,Y,Paper,18503,980,Avenue
4,1005,Jon,Snow,8766783469,123 Dragons Road,N,N,Dragons,None,123,Road
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,City,None,768,Parkway
6,1007,Jeff,Winger,nan,1209 South Street,N,N,South,None,1209,Street
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,Clue,None,98,Drive
8,1009,Gandalf,NaN,Na,123 Middle Earth,NaN,NaN,Middle,None,123,Earth
9,1010,Peter,Parker,1235455421,25th Main Street,N,N,Main,None,25th,Street
10,1011,Samwise,Gamgee,nan,612 Shire Lane,N,N,Shire,None,612,Lane
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,NaN,NaN,Hogwarts,None,2394,Avenue
12,1013,Don,Draper,1235432345,2039 Main Street,N,N,Main,None,2039,Street
13,1014,Leslie,Knope,8766783469,343 City Parkway,N,N,City,None,343,Parkway
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,HR,None,214,Avenue
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,Hogwarts,None,2395,Avenue
16,1017,Michael,Scott,1236439775,121 Paper Avenue,N,N,Paper,None,121,Avenue
17,1018,Clark,Kent,7066950392,3498 Super Lane,NaN,NaN,Super,None,3498,Lane
18,1019,Creed,Braton,Na,N/a,Y,Y,None,None,N/a,None
19,1020,Anakin,Skywalker,8766783469,910 Tatooine Road,N,N,Tatooine,None,910,Road